<form [formGroup]="form">
    <div fxLayout="column">
        <mat-progress-bar mode="indeterminate" *ngIf="isBusy"></mat-progress-bar>

        <!-- FidelityHub Login -->
        <mat-form-field class="full-width primary-color-login" color="white" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="usuario@email.com" formControlName="email" [disabled]="isBusy" />
        </mat-form-field>
        <mat-error *ngIf="form.controls['email'].touched && !form.valid">
            Por favor insira um email valido
        </mat-error>

        <div fxLayout="row" class="full-width" fxLayoutAlign="space-between center" fxLayout.lt-md="column" [ngClass]="{
        'full-width-buttons':
        (isHandset | async) || (isSmall | async) || (isXSmall | async) }">
            <button mat-button (click)="sendResetRequest()" class="mat-elevation-z8"
            [disabled]="!form.valid">
                Confirmar
            </button>
            <button mat-button (click)="return()" class="mat-elevation-z8">
                Voltar
            </button>
        </div>
    </div>
</form>