mat-card {
  color: white;
  background: #673ab7;
}

.full-width-buttons button{
  width: 100%;
  margin-bottom: 10px;
}

.separator-line {
  width: 100%;
  height:2px;
  background-color:white;
  border:none;
}

.third-party-login {
  width: 100%;
}

cool-google-button button {
  width: 100% !important;
}

.third-party-column {
  height: 100%;
}

.login-material-icons {
  font-size: 50px;
}

.login-card {
  width: 100%;
  height: 100%;
}

.login-button {
  height: 48px;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: white;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}
/* Font color */

input.mat-input-element {
  color: white;
}

.login-provider-area {
  width: 100%;
}

.login-provider-description {
  text-align: center;
  font-size: 19px;
}

button {
  color: #673ab7;
  background: white;
}

.mat-form-field-ripple .primary-color-login{
  background-color: white !important;
}

.standard-spacing {
  margin-top: 12px !important;
}

.mat-form-field.mat-white {
  color: white;
}

mat-label {
  color: white;
}

.full-width {
  width: 100%;
}

.usertypes-row {
  margin-top: 10px;
  height: 100%;
}

.usertype-card:hover {
  background-color: white;
  color: #673ab7 !important;
}

.usertype-card-selected {
  background-color: white;
  color: #673ab7 !important;
}

.usertype-title {
  text-align: center;
}

.usertype-subtitle {
  margin-top: 3%;
  font-size: 18px;
}

.usertype-card {
  height: 250px;
  width: 100%;
}

.container {
  height: 100%;
}

.register-stepper {
  background: #673ab7 !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb .primary-color-login{
  background-color: white;
}

.mat-form-field-appearance-outline .mat-form-field-outline .primary-color-login{
  color: white;
}
/* Font color */

input.mat-input-element {
  color: white;
}

.login-input-area {
  width: 90%;
  height: 100%;
}

.full-height {
  height: 100%;
}

button {
  color: #673ab7;
  background: white;
}

.mat-form-field-ripple .primary-color-login{
  background-color: white !important;
}

.standard-spacing {
  margin-top: 12px !important;
}

.mat-form-field.mat-white {
  color: white;
}

mat-label {
  color: white;
}

mat-option {
  height: 60px;
}
