<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text" fxLayout="row" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="intro-heading text-uppercase first-header">
          Buscando Fidelidade
        </div>
        <div class="intro-heading text-uppercase">Em tudo Que Fazemos</div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button (click)="arrowClicked()" class="arrow-button">
        <span class="material-icons" style="color: white;">
          keyboard_arrow_down
        </span>
      </button>
    </div>
  </div>
</header>

<!-- Vantagens -->
<section id="vantagens" #vantagens>
  <div fxLayout="row" fxLayoutAlign="space-evenly center" fxFlex>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutAlign="start center" fxFlex="30" features-icons-item mx-auto class="icon-items">
        <span class="material-icons">
          desktop_windows
        </span>
        <h3>Mensure e analise sua performance</h3>
        <p class="lead mb-0">
          Acompanhe o seu programa de incentivo e fidelidade com relatórios e
          painéis interativos de onde estiver!
        </p>
      </div>
      <div fxLayout="column" fxLayoutAlign="start center" fxFlex="30" features-icons-item mx-auto class="icon-items">
        <span class="material-icons">
          layers
        </span>
        <h3>Elimine os cartões</h3>
        <p class="lead mb-0">
          Sem selos e carimbos: use um QR Code para registrar a performance dos
          seus participantes.
        </p>
      </div>
      <div fxLayout="column" fxLayoutAlign="start center" fxFlex="30" features-icons-item mx-auto class="icon-items">
        <span class="material-icons">
          check_circle_outline
        </span>
        <h3>Fácil de Usar</h3>
        <p class="lead mb-0">
          Com poucos passos, incentive seus produtos e serviços sem muitas
          configurações!
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Configure Recompensas -->
<section id="recompensas" style="padding: 0px;">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="column" fxLayoutAlign="center start" fxFlex="50" fxFlex.lt-md="30" class="side-image-1"></div>
    <div fxLayout="column" fxLayoutAlign="center start" fxFlex="50" style="margin: 5%;">
      <h2 class="section-heading text-uppercase row-header">Configure Recompensas</h2>
      <p class="lead mb-0">
        Crie programas surpreendentes com recompensas que seus clientes podem
        resgatar, diga o que eles irão ganhar e engaje mais clientes leais.
        Deixe que o motor de pontos da FidelityHub impulsione seu programa de
        fidelidade.
      </p>
    </div>
  </div>
</section>

<!-- Divulgue -->
<section id="divulgue" style="padding: 0px;">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="column" fxLayoutAlign="center start" fxFlex="50" style="margin: 5%;">
      <h2 class="section-heading text-uppercase row-header">Divulgue suas promoções</h2>
      <p class="lead mb-0">
        Aliás um programa surpreendente seus clientes devem conhecer para
        participar! Divulgue e faça seus clientes se tornarem leais divulgando
        em seus canais de divulgação e a FidelityHub ajuda você nas principais
        plataformas, geramos landing pages e deixamos tudo pronto para escalar
        sua operação em pouquíssimos passos.
      </p>
    </div>
    <div fxLayout="column" fxLayoutAlign="center start" fxFlex="50" fxFlex.lt-md="30" class="side-image-2"></div>
  </div>
</section>

<!-- Retenha -->
<section id="retenha" style="padding: 0px;">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="column" fxLayoutAlign="center start" fxFlex="50" fxFlex.lt-md="30" class="side-image-3"></div>
    <div fxLayout="column" fxLayoutAlign="center start" fxFlex="50" style="margin: 5%;">
      <h2 class="section-heading text-uppercase row-header">Retenha &amp; Fidelize</h2>
      <p class="lead mb-0">
        Crie estratégias de retenção que seus clientes vão amar comprar com
        você, ofereça sempre a melhor experiência e a FidelityHub está aqui para
        auxiliar neste propósito. Fidelize e tenha o cliente por mais tempo com
        você, criamos afeto com você e com o seu cliente para ultrapassar a
        relação comercial e fazer do cliente um amigo fiel à sua marca.
      </p>
    </div>
  </div>
</section>