.expanded-mobile {
    height: 90%;
}

.promotion-grid {
  width: 100%;
  height: 100%;
}

.nodata-icon {
  font-size: 80px;
}


.nodata-text {
  text-align: center;
  margin-top: 10px !important;
}

.dashboard-card {
  width: 98%;
  height: 98%;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.dashboard-component {
  width: 100%;
  height: calc(100% - 64px);
}