<div class="grid-container" fxLayout="column" fxLayoutAlign="start start" fxFill>
    <h1 class="mat-h1">Troque Sua Senha</h1>
    <form [formGroup]="firstFormGroup">
        <!-- Email -->
        <mat-form-field class="input-field-full">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
        </mat-form-field>
        <mat-error *ngIf="!emailValid && firstFormGroup.controls['email'].touched 
            && !firstFormGroup.controls['email'].errors?.duplicate">
            Por favor insira um email valido
        </mat-error>
        <!-- Password -->
        <mat-form-field class="input-field-full">
            <mat-label>Nova Senha</mat-label>
            <input type="password" matInput formControlName="password" required>
        </mat-form-field>
        <mat-error *ngIf="!passwordValid && firstFormGroup.controls['password'].touched">
            {{badPasswordMessage}}
        </mat-error>
        <!-- Confirmation -->
        <mat-form-field class="input-field-full">
            <mat-label>Confirme sua Senha</mat-label>
            <input type="password" matInput formControlName="passwordConfirm" required>
        </mat-form-field>
        <mat-error
            *ngIf="!passwordConfirmValid && firstFormGroup.controls['passwordConfirm'].touched && passwordsMatch">
            {{badPasswordMessage}}
        </mat-error>
        <mat-error *ngIf="!passwordsMatch">
            Suas senhas não são iguais
        </mat-error>
        <button mat-raised-button (click)="resetPassword()" [disabled]="!enableConfirm"
        style="width: 100%">
            Confirmar
        </button>
    </form>
</div>